<html>
  <head>
    <title>Courses</title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
        <br />
        <h2>Courses
          <a href="/courses/add" class="btn btn-success float-right">Add New
            Course</a>
        </h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>Course Code</td>
                <td>Course Description</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {{#each courses}}
                <tr>
                  <td><a href="/course/{{courseId}}">{{courseCode}}</a></td>
                  <td>
                    <a href="/students?course={{courseId}}">
                      {{courseDescription}}
                    </a>
                  </td>
                  <td>
                    <a
                      href="/course/delete/{{courseId}}"
                      class="btn btn-danger"
                    >Remove</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      {{#unless courses}}
        <div class="col-md-12 text-center">
          <strong>{{message}}</strong>
        </div>
      {{/unless}}
    </div>
  </body>
</html>